form{
    display: flex;
    flex-direction: row;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.department1 h3{
    color: whitesmoke;
    margin-top: 7%;
}
.row-projects-nav{
    display: flex;
    justify-content: space-around;
}
.ul-customers{
    padding-top: 9%;
}
.left, .right{
    display: flex;
    flex-direction: column;
    width: 292px;
}
.left .form-group:Last-Of-Type, .right .form-group:Last-Of-Type{
    margin: 0;
}
input{
    width: 292px;
}
.wrapper{
    padding-bottom: 16px;
}
