*{
    text-align: center;
}
ul li{
    list-style-type: none;
}
ul{
    padding-top: 1.8%;
}
.department1{
    padding-top: 1.2%;
}
ul {
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.row-lists{
    display: flex;
    justify-content: space-around;
    margin-left: 2%;
}
.list-group{
    display: flex;
    flex-direction: column;
}
.btn-list{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}
.buttons{
    width: 40px;
    height: 40px;
}
.buttons input{
    margin-top: 33%;
    padding: 8%;
    background: #808080;
    border: none;
    width: 50px;
    height: 30px;
    color: whitesmoke;
}
.buttons input:hover{
    background: #5cb85c;
}
.buttons input:first-of-type{
    margin-top: -6%;
}
.column{
    display: flex;
    flex-direction: row;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.row-set-admin{
    display: flex;
    justify-content: space-around;
}
.customers h3, .departments h3{
    border-bottom: 2px solid #808080;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
}
.departments h3{
    width: 140px;
}
body{
    background-image: url('../img/simple-background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height:100%;
}
.container{
    background: #FFFFFF;
    border-left: solid 4px #808080;
    border-right: solid 4px #808080;
    border-bottom: solid 4px #808080;
}
.succes-msg{
    margin: 0;
}
/*+=====Responsive======+*/
