/*===default===*/
.row-spaced{
    display: flex;
    justify-content: space-around;
}

/*===HEADER===*/
.header-sales{
    background-color: #808080;
    height: 100px;
}
.nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
    font-size: 20px;
    font-weight: bolder;
}
.nav a{
    text-decoration: none;
    color: white;
}

.department1 h3{
    color: white;
    font-size: 24px;
}


/*=========*/

/*===banner===*/

.banner {
    display: flex;
    justify-content: center;
    height: 418px;

}
.banner h3 {
    margin-top: 25%;
}

/*=========*/

/*===footer===*/

.row-footer{
    display: flex;
    background-color: black;
    position: absolute;
    bottom: 0;
}
.item{
    width: 18%;
}
.row-footer p{
    color: white;
}
